*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.rez
{
    background-color: #000000;
    height: 60px;
    /* background: fixed; */
    background-size: cover;
    
}
/* .navbar-toggler
{
    background-color: #000000;
    border: 0px;
    box-shadow: none;
    float: right;
    min-width: 45px;
    margin-top: 22px;
    margin-left: 20px;
    color: rgba(0,0,0,0.55);
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    border-radius: 5px;
    
} */
.navbar-toggler:hover
{
  background: #2c6ef1;
  color: white;
}

.nenu1, li
{
    font-weight: 600;
}
.box
{
    background-color: blue;
    height: 360px;
}
.r1
{
    width: 15%;

}
.big
{
    width: 80px;
    height: 40px;
    border-radius: 5px;
    /* font-size: 18px; */
    font-weight: 900;
    bottom: 10%;
}
.bv
{
    position: relative;
    left: 35%;
    color: gray;
    font-size: 20px;
    font-weight: 500;

}
.star
{
    position: relative;
    left: 22%;
    border: none;
}
.bt
{
    width: 40%;
    height: 60px;
    border: none;
}
hr .divider
{
    position: relative;
    border: none;
    height: 1px;
    background: #dddddd;
}
.bn
{
    /* border: 0px;
    background: ;
    padding: 10px 38px;
    color: #fff;
    font-size: 16px;
    font-weight: 600; */
    width: 100%;
    padding: 10px 15px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background: #2c6ef1;
}
.bn::before
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: rgba(225,225,255,0.15);
}
.face
{
    width: 100%;
    padding: 10px 15px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background: #3b5998;
}
.goo
{
    width: 100%;
    padding: 10px 15px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background: #dd4b39;
}
.foot
{
    background: #ecf0f1;
    border-color: #dee4ef;
    text-align: center;
    /* margin: 0px -20px -20px; */
    border-radius: 0px 0px 5px 5px;
    justify-content: center;
    font-size: 14px;
    height: 130%;

}
.modal-header
{
    border-bottom: none;
    position: relative;
    justify-content: center;
    padding-bottom: 35px;
}
.btn-close
{
    position: absolute;
    top: -2px;
    right: -1px;

    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
}

.bn1
{
     display: inline-block;
    margin-top: 5px; 
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    text-align: center;

}
hr
{ 
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
}
hr
{
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    border-style: inset;
    border-width: 1px;
}
.wiz
{
    /* width: 66%; */
}
.been
{
    
}

.init
{
    background: #fff;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 15%);
    padding: 20;
    height: 130px;
    margin-bottom: 30px;
    text-align: center;
    position: relative;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    bottom: 80%;
    overflow: hidden;
    
}

.vite:hover
{
    /* background-color: #2c6ef1; */
    color: #2c6ef1;
}
.vit:hover
{
    /* background-color: #2c6ef1; */
    color: #2c6ef1;
}
.init i 
{
   display: block; 
   color: rgba(0,0,0,0.45);
   font-size: 33px;
   text-align: center;
   margin: 0px 0px 15px 0px;
   transition: all 0.2s ease-in-out;
}
.init:hover
{
    transform: scale(1.1);
    color: #2c6ef1;
}
.init:hover::after {
    opacity: 1;
  }
.good
{
    position: relative;
    bottom: 20%;
}
.bit
{
    background: #fff;
    box-shadow: 0px 5px 10px rgb(0 0 0 / 15%);
    padding: 20px 30px;
    margin-top: 30px;
    text-align: center;
    position: relative;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;

}
.stretched-link::after
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    /* background-color: rgb(0 0 0 ); */

}
.bel
{
    /* background: #ffffff; */
    /* height: 40px; */
}
.nine 
{
    background: #2c6ef1;
    width: 65px;
    height: 65px;
    text-align: center;
    line-height: 65px;
    color: #fff;
    font-size: 25px;
    position: relative;
    border-radius: 5px;
    margin-top: 20px;
    text-rendering: auto;
    display: block;
    font-variant: normal;
    font-size: normal;
    transition: all 0.2s ease-in-out;
}
.nine:hover
{
    transform: scale(1.1);
    /* background: #2c6ef1; */
    /* border: 1px solid  #2c6ef1; */
    /* color: aqua; */
}
a
{
    color: #2c6ef1;
    text-decoration: none;
    background-color: transparent;
}
.hl
{
    /* background: #ffffff; */
    /* height: 650px; */
    box-shadow: none;
}
.item
{
    background: #fff;
    box-shadow: 0px 1px 3px rgb(0 0 0 25%);
    padding: 15px;
    margin-top: 30px;
    height: 220px;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
.author
{
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    margin: 0px 0px 0px 0px;
}
.giw
{
    /* width: 15%; */
    height:  55p;
    /* padding-left: 10%; */
}
.fass
{
    display: inline-block;
    font-size: normal;
    text-rendering: auto;
    line-height: 1;
    color: #fbd606;

}
.fast
{
    display: inline-block;
    font-size: normal;
    text-rendering: auto;
    line-height: 1;
    color: gray;
}
.tel
{
    text-align: center;
    margin-bottom: 30px;
    overflow: hidden;
    color: #fff;
}
.xc
{
    font-size: 16px;
    line-height: 23px;
    text-align: justify;
    color: #555555;
    margin-top: 0;
    margin-bottom: 1rem;
}
.nix
{
    width: 50px;
    height: 50px;
    background: #ddd;
    display: block;
    float: left;
    margin: 0px 15px 0px 0px;
    border-radius: 5px;

}
h4
{
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
}
.sarr
{
    background: #2c6ef1;
    padding: 80px 0px;
}
.time
{
    color: #777;
    font-size: 13px;
    position: absolute;
    bottom: 25px;
    right: 0px;
}
.rate-rang
{
    color: #666666;
    font-size: 14px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.user_type
{
    border: 1px solid #aaa;
    position: absolute;
    bottom: 0px;
    left: 65px;
    color: #666;
    padding: 2px 6px;
    font-weight: 400;
    border-radius: 4px;
}
.bor
{
    border: 1px solid #fff;
    margin: 0px 7.5px;
    font-size: 16px;
    padding-top: 14px 35px;
    font-weight: 600;
    height: 35px;
    
}
.bor::before
{
    background: #fff;
}
.ben
{
    border: 1px solid #fff;
    height: 35px;
    /* width: 10%; */
    color: #fff;
    margin: 0px 7.5px;
    font-size: 16px;
    padding-top: 10px 35px;
    font-weight: 600;
}
.knowledge-Base
{
    background: #ffffff;
    padding: 80px 0px;
}
.section-title
{
    text-align: center;
    margin-bottom: 30px;
    overflow: hidden;
}
.hh
{
    font-size: 16px;
    font-weight: 600;
    color: #2c6ef1;
    margin-bottom: 10px;
    animation-delay: 0.1s;
}
.hh1
{
    font-weight: 700;
    font-size: 25px;
    bottom: 0px;
    animation-delay: 0.4s;
}
.bas, a, ul, i
{
    font-size: 16px;
    display: inline-block;
    margin-right: 5px;
    font-weight: 300;
    position: relative;
    top: 1px;
    transition: all 0.2s ease-in-out;
}
.spa
{
    background: #f5f7fa;
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 16px;
    color: #444;
    margin: 0px 5px;
    transition: all 0.2s ease-in-out;
}
.list-unstyled
{
    margin: 0px;
}
.category-block
{
    padding: 35px 15px 40px 15px;
    display: inline-block;
    color: #444;
    text-decoration: none;
}
h3
{
   
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 20px;
}
.category-blocks
{
    border-right: 1px solid #d8dee2;
    border-bottom: 1px solid #d8dee2;
    border-top: 1px solid #d8dee2;
    border-left: 1px solid #d8dee2;
    margin-top: 50px;
    animation-delay: 0.6s;
}
#side_nav
{
    background: #000000;
    min-width: 100vh;
    width: 100%;

}
.content
{
    min-width: 250px;
    max-width: 250px;
}
hr
{ 
    
}
@media screen and (max-width: 600px) {
    .tout
    {
        display: none;
    }
    .category-blocks
    {
        border: 0px;
    }

    
    }





/* ...........mame sane.............. */


/* .................fin.................. */

/* ...........fatou diop.............. */


/* .................fin.................. */